agentbricks[sandbox]@ http://dashscope-cn-beijing.oss-cn-beijing.aliyuncs.com/bailiansdk-agent-wy/code/agentbricks-0.7.1-py3-none-any.whl
agentscope-runtime
mcp==1.8.0
dotenv
redis
openai>=1.14.0
chromadb>=0.4.24
sentence-transformers>=2.5.1
faiss-cpu; sys_platform != "win32"
pytest>=8.0.0
